@model IEnumerable<WebApplication1.Models.Book>

@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>

<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Category</th>
            <th>Actions</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>
                    <img src="@book.ImageUrl" alt="@book.Title" style="width:100px; height:auto;" />
                </td>
                <td>@book.Title</td>
                <td>@book.Category</td>

                @if (User.IsInRole("Admin")) // only admin can see these buttons
                {
                    <td>
                        <a asp-controller="Book" asp-action="Update" asp-route-id="@book.Id" class="btn btn-warning">Update</a>
                        <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this book?');">Delete</a>
                    </td>
                }else{
                    <td>
                        <a asp-controller="Book" asp-action="Rent" asp-route-id="@book.Id" class="btn btn-warning">Rent </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Admin")) 
{
    <a asp-action="Add" class="btn btn-primary">Yeni Kitap Ekle</a>
}
